.dna-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.text-input {
  margin: 12px;
  width: 500px;
  height: 250px;
}

.divider {
  margin: 12px;
  font-size: 40px;
}

.files {
  display: flex;
  flex-direction: column-reverse;
  margin: 12px;
}

.file-input {
  display: none;
}

.file-input-label {
  display: inline-block;
  padding: 10px 16px;
  border: 1px transparent solid;
  background-color: gray;
  color: black;
  transition:
    transform 0.3s step-start,
    box-shadow 0.3s step-start,
    border 0.3s ease-in step-end;
  position: relative;
  z-index: 1;
}

.file-input-box {
  position: absolute;
  z-index: 0;
  display: inline-block;
  padding: 10px 16px;
  padding-bottom: 15px;
  padding-left: 21px;
  background-color: gray;
  color: black;
}

.file-input-label:hover {
  transform: translateY(-5px) translateX(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.type-select {
  margin: 12px;
}

.decode {
  width: 100px;
  height: 35px;
  font-size: large;
  transition:
    transform 0.3s step-start,
    box-shadow 0.3s step-start,
    border 0.3s ease-in step-end;
}

.decode:hover {
  transform: translateY(-5px) translateX(5px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
